body {
	background-color: cornflowerblue;
	font-family: Arial;
}

form {   
    border: 2px solid #999;
    border: inset 1px solid #333;
    width: 600px;
    height: 180px;
    margin: auto;
    position: relative;
	background-color: lightgray;
	text-align: center;
}

.hide {
    display: none;
}

.showResults {
	background-color: lightgray;
	border: 1px solid #999;
    width: 900px;
    height: 240px;
    margin: 10px auto;
    position: relative;
}

.tab {
	overflow: hidden;
	border: 1px solid #ccc;
  	background-color: #f1f1f1;
}

.tab button {
  	background-color: inherit;
  	float: left;
  	border: none;
  	outline: none;
  	cursor: pointer;
  	padding: 14px 16px;
  	transition: 0.3s;
  	font-size: 17px;
}

.tab button:hover {
  	background-color: #ddd;
}

.tab button.active {
  	background-color: lightgray;
}

.tabContent {
  	display: none;
  	padding: 6px 12px;
  	border: 1px solid #ccc;
  	border-top: none;
  	background-color: lightgray;
}

.image {
    height: 120px;
    width: 120px;
    float: left;
    margin: 15px;
    transition: transform .3s;
}

.image img{
    border: 1px solid #999;
    max-height: 100%;
    max-width: 100%;
}

.show-card {
    border: 1px solid #999;
    width: 800px;
    height: 140px;
    margin: 10px auto;
    position: relative;
	background-color: ghostwhite;
}

table {
	table-layout: fixed;
}

td, th {
  	border: 1px solid #dddddd;
  	text-align: left;
  	padding: 8px;
	background-color: ghostwhite;
}